.todo-app {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.49);
  max-width: 450px;
  position: relative;

  h1 {
    text-align: center;
    background-color: hsl(from var(--base-color) h s calc(l + 10));
    padding: var(--spacing-md) 0;
    color: var(--font-color-bold);
    font-weight: bold;
    font-size: var(--font-size-extra-large);
  }
}

.error-popup {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f3f3f33a;
  backdrop-filter: blur(8px);
  bottom: 0;
  top: 0;
  display: grid;
  place-content: center;
  outline: dashed red 2px;
}

.error-container {
  padding: var(--padding-sm);
  text-align: center;
  p {
    margin-bottom: var(--padding-sm);
  }
}

.clear-button {
  color: hsl(from var(--error-color) h s calc(l - 30));
}

.error {
  color: hsl(from var(--error-color) h s calc(l - 30));
  background-color: hsl(from var(--error-color) h s calc(l + 30));
}

.error-message {
  font-size: 1.5rem;
  img {
    display: inline-block;
    margin-right: 5px;
  }
}
