:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 40px;
  --font-size-extra-large: 1.5rem;
  --font-size-large: 1.25rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --padding-sm: 0.5rem;
  --base-color: hsl(259, 61%, 55%);
  background-color: hsl(from var(--base-color) h s l);
  --font-color-base: hsl(180, 1%, 20%);
  --font-color-bold: hsl(from var(--font-color-base) h s calc(l - 10));
  --error-color: hsl(0, 82%, 52%);
  --accept-color: hsl(120, 77%, 52%);
  --info-color: hsl(221, 90%, 62%);
  --neutral-color: hsl(0, 0%, 62%);
}

* {
  margin: 0;
  padding: 0;
  color: var(--font-color-base);
  box-sizing: border-box;
  font-size: var(--font-size-normal);
  font-weight: normal;
}

select,
option {
  font-size: var(--font-size-normal);
  font-weight: normal;
}

#root {
  display: grid;
  place-content: center;
  min-height: 100dvh;
}

button {
  color: hsl(from var(--neutral-color) h s calc(l - 30));
  background-color: inherit;
  cursor: pointer;
}

button:disabled,
.saving {
  cursor: initial;
  opacity: 60%;
  color: hsl(from var(--neutral-color) h s calc(l - 30));
  background-color: hsl(from var(--neutral-color) h s calc(l + 30));
}

.error-popup {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #f3f3f33a;
  backdrop-filter: blur(8px);
  bottom: 0;
  top: 0;
  display: grid;
  place-content: center;
  outline: dashed black 2px;
}

.error-container {
  padding: var(--padding-sm);
  text-align: center;
  p {
    margin-bottom: var(--padding-sm);
  }
}

.clear-button {
  color: hsl(from var(--error-color) h s calc(l - 30));
}

.error {
  color: hsl(from var(--error-color) h s calc(l - 30));
  background-color: hsl(from var(--error-color) h s calc(l + 30));
}

button {
  height: 40px;
  padding-left: var(--padding-sm);
  padding-right: var(--padding-sm);
  font-weight: bold;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}
